[Unit]
Description=My Naturewatch Camera Server
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 -m naturewatch_camera_server -p 80
WorkingDirectory=/home/pi/NaturewatchCameraServer
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
