[Unit]
Description=Wifi Setup
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/NaturewatchCameraServer/helpers/cfgsetup.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
