.App {
    padding: 5px;
}

.btn-secondary {
    background-color: #a7bfbd;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn-primary {
    background-color: #33cc66;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/* Remove all focus blocks. FYI this is bad for desktop accessibility and keyboard users. */
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=radio]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus,
button,
label {
    box-shadow: inset 0 0 0 #ddd !important;
    outline: none !important;
}

/* --------- Index */

h1 {
    text-align: center;
    color: #33cc66;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 0;
}

button.startsession {
    background-color: #33cc66 !important;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 100%;
    height: 120px;
    font-weight: bold;
}

button.startsession.active {
    background-color: #ff0000 !important;
}

button.startsession:disabled {
    background-color: #a7bfbd !important;
}

.index .btn-secondary {
    width: 100%;
}


/* --------- Settings */

.settings {
    margin-top: 30px;
    margin-bottom: 10px;
}

.settings .short {
    width: 80px;
}

.settings .settings-button[aria-expanded="true"], .settings .settings-button[aria-expanded="true"]:focus {
    background-color: white;
    color: black;
    font-weight: bold;
}

.settings .settings-button[aria-expanded="false"], .settings .settings-button[aria-expanded="false"]:focus {
    background-color: #a7bfbd;
    color: white;
}

.settings .card {
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 10px;
}

.settings .card .btn-primary, .content-select .btn-group .btn-primary {
    border: 2px solid #33cc66 !important;
    background-color: white;
    color: #33cc66;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 100%;
}

.settings .card .btn-primary.active, .settings .card .btn-primary:active, .content-select .btn-primary:active {
    background-color: #33cc66 !important;
    color: white;
}

.settings .card-header {
    background-color: #a7bfbd;
    color: white;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-align: center;
    padding: 6px 12px;
}

.settings .accordion {
    margin-top: 10px;
}

.settings .card-body {
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.settings .btn-group {
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.settings #shutter-speed, .settings #interval {
    width: 100%;
}

.settings label.shutter-speed-label, .settings label.interval-label {
    margin-top: 5px;
}

/* --------- Feed */

.feed {
    width: 100%;
    text-align: center;
    background: #a7bfbd
}

.feed img {
    width: 100%;
}

.feed span {
    display: inline-block;
    vertical-align: middle;
    padding: 80px 10px;
}

.feed span h2{
    font-size: 20px;
    font-weight: bold;
}

.feed-status {
    text-align: right;
    margin-top: 5px;
}

/* --------- Switch */

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 20px;
    margin: 0 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CEDBDA;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0;
  bottom: 0;
  background-color: #2DC55B;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #CEDBDA;
}

input:focus + .slider {
  box-shadow: 0 0 1px #CEDBDA;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

.content-type-selector p:first-child {
    float: left;
}

.content-type-selector p {
    display: inline;
}

.content-select {
    float: right;
}

/* --------- Gallery */

.gallery-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    margin-top: 20px;
}

.gallery-thumbnail img {
    width: 100%;
    object-fit: cover;
}

.gallery-thumbnail {
    position: relative;
}

.modal-gallery-content img, .modal-gallery-content video {
    width: 100%;
}

.gallery-thumbnail .MuiSvgIcon-root {
    width: 14px !important;
    height: 14px !important;
    color: blue;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: white;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.modal-footer button.btn-icon {
    padding: 0;
    background: none;
}

.modal-footer {
    display: flex;
}

.modal-footer .footer-content {
    align-self: flex-start !important;
}

.modal-footer .MuiSvgIcon-root {
    color: black;
}

.modal-footer p {
    margin: 0;
}

.modal-body {
    padding: 0;
}

.modal-content {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
