.App {
    padding: 5px;
}

h1 {
    text-align: center;
}

/* --------- Feed */

.feed {
    width: 100%;
    text-align: center;
    background: gray;
}

.feed img {
    width: 100%;
}

.feed span {
    display: inline-block;
    vertical-align: middle;
}

.feed-status {
    text-align: right;
}

/* --------- Switch */

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 20px;
    margin: 0 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CEDBDA;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0;
  bottom: 0;
  background-color: #2DC55B;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #CEDBDA;
}

input:focus + .slider {
  box-shadow: 0 0 1px #CEDBDA;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

.content-type-selector p:first-child {
    float: left;
}

.content-type-selector p {
    display: inline;
}

.content-select {
    float: right;
}