.App {
    padding: 5px;
}

h1 {
    text-align: center;
}

.feed {
    width: 100%;
    text-align: center;
    background: gray;
}

.feed img {
    width: 100%;
}

.feed span {
    display: inline-block;
    vertical-align: middle;
}

.feed-status {
    text-align: right;
}